.registrations-top {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left-contents {
  width: 50%;
  height: 100%;
  background-color: blanchedalmond;
}

.registrations-image {
  height: 100%;
  width: 100%;
}

.right-contents {
  width: 50%;
  height: 100%;
  background: #eadfca;
}

.right-title {
  color: #ffffff;
  font: 900 48px/1.4 "Arial Black";
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
  margin-top: 80px;
}

.right-sub-title {
  color: #aa998a;
  font: 700 28px/1.4 "Noto Sans JP";
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
  margin: 90px 0 70px 0;
}

.registrations-button {
  width: 100%;
}

.registrations-button > a {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin-top: 20px;
}

.email-button {
  margin: auto;
  background: #9ec3bc;
  border-radius: 4px;
  width: 50%;
  color: #ffffff;
  display: block;
}

.google-button {
  display: block;
  margin: auto;
  background: #ffffff;
  border-radius: 4px;
  width: 50%;
  border: 1px solid #000;
}

.facebook-button {
  background: #6261cc;
  margin: auto;
  border-radius: 4px;
  width: 50%;
  color: #ffffff;
  display: block;
}

.right-text {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #aa998a;
}

.login-text {
  color: #9ec3bc;
  height: 60px;
  line-height: 60px;
}

.registrations-footer > p {
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 15%;
}

.footer-title {
  color: #ffffff;
  text-align: center;
  /* margin-top: 50px; */
  font: 700 30px "Caveat", cursive;
}

.footer-text {
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  margin-top: 2px;
}
