.mypage {
  height: 100vh;
  width: 100%;
}

/* ユーザー情報 */
.mypage-top {
  height: 40vh;
  padding: 50px 250px 50px 250px;
  width: 100%;
  display: flex;
}

.mypage-user-icon {
  height: 100%;
  background-color: burlywood;
  width: 22%;
  border-radius: 50%;
}

.mypage-user-detail {
  height: 100%;
  width: 50%;
  padding: 30px 0 30px 80px;
}

.mypage-nickname {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.mypage-account-id {
  font-size: 12px;
  margin-bottom: 10px;
  color: #aa998a;
}

.mypage-account-detail {
  font-size: 15px;
  line-height: normal;
}

.mypage-user-follow {
  height: 100%;
  width: calc(100% - 72%);
  padding: 30px 50px;
}

.mypage-user-follow > button {
  background-color: #9ec3bc;
  color: white;
  height: 20%;
  width: 100%;
  text-align: center;
  border-radius: 16px;
  font-size: 15px;
  margin-bottom: 50px;
}

.mypage-user-follow > p {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
}

/* 画像一覧 */
.mypage-middle {
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
  width: 100vw;
}

.img-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-lists > li {
  width: 37vh;
  padding: 1vw;
  flex-wrap: wrap;
}

.mypage-img {
  width: 33vh;
  height: 33vh;
  background-color: cadetblue;
}

/* ヘッダー */
.top-page-header1 {
  background-color: #eadfca;
  height: 10vh;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.header-title1 {
  text-align: center;
  color: white;
  font: 700 50px "Caveat", cursive;
  height: 100%;
  line-height: 70px;
  color: #aa998a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
