<main class="registrations-create">
  <h1 class="create-title">wanday!へようこそ！</h1>
  <section>
    <h2 class="create-text">登録が完了しました。</h2>
    <div class="create-content">
      <p>ありがとうございます。</p>
      <p>登録が完了しました。</p>
      <p>wanday!のサービスをお楽しみください。</p>
    </div>
    <div class="regist-create-button">
      <%= link_to "TOPページへ", root_path, class: "regist-top-link" %>
    </div>

  </section>
  <section>
    <footer>
      <p class="footer-title">wanday!</p>
      <p class="footer-text">Copyright © 2021 wanday! All rights reserved.</p>
    </footer>
  </section>
</main>