<main class="registrations-new">
  <h1 class="new-title">wanday!へようこそ！</h1>
  <section>
    <form class="new-contents">
      <h2 class="form-title">アカウント作成</h2>
      <input type="text" placeholder="名前" class="small-field">
      <input type="text" placeholder="メールアドレス" class="small-field">
      <input type="text" placeholder="パスワード" class="small-field">
      <input type="submit" value="次へ" class="send">
    </form>
  </section>
  <section>
    <footer>
      <p class="footer-title">wanday!</p>
      <p class="footer-text">Copyright © 2021 wanday! All rights reserved.</p>
    </footer>
  </section>
</main>