<main class="registrations-new">
  <h1 class="new-title">wanday!へようこそ！</h1>
  <section>
    <form class="new-contents">
      <h2 class="form-title">アカウント作成</h2>
      <div class="new-content">
        <label for="name">名前</label>
        <input type="text" placeholder="例）鈴木太郎" class="small-field" id="name">
      </div>
      <div class="new-content">
        <label for="email">メールアドレス</label>
        <input type="text" placeholder="携帯/PC" class="small-field" id="email">
      </div>
      <div class="new-content">
        <label for="password">パスワード</label>
        <input type="text" placeholder="半角英数混合" class="small-field" id="password">
      </div>
      <input type="submit" value="次へ" class="send">
    </form>
  </section>
  <section>
    <footer>
      <p class="footer-title">wanday!</p>
      <p class="footer-text">Copyright © 2021 wanday! All rights reserved.</p>
    </footer>
  </section>
</main>