.top-page-footer {
  background-color: #eadfca;
  height: 10vh;
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
}

.footer-title {
  font: 700 30px "Caveat", cursive;
}

.footer-text {
  font-size: 10px;
  margin-top: 2px;
}
