<main class="registrations-top">
  <section class="left-contents">
    <%= image_tag 'registrations-top.jpg', class:'registrations-image' %>  
  </section>
  <section class="right-contents">
    <div class="right-title">
      <p>wanday!へようこそ！</p>
    </div>
    <div class="right-sub-title">
      <p>アカウント作成</p>
    </div>
    <div class="registrations-button">
      <a class="email-button" href="#">メールアドレスで登録</a>
      <a class="google-button" href="#">Googleアカウントで登録</a>
      <a class="facebook-button" href="#">Facebookアカウントで登録</a>
    </div>
    <div class="right-text">
      <p><a class="login-text" href="#">ログイン</a>のかたはこちら</p>
    </div>
    <footer>
      <p class="footer-title">wanday!</p>
      <p class="footer-text">Copyright © 2021 wanday! All rights reserved.</p>
    </footer>
  </section>
</main>

