<main class="registrations-new">
  <h1 class="new-title">wanday!へようこそ！</h1>
  <section>
    <form class="new-contents">
      <h2 class="form-title">アカウント作成</h2>
      <div class="new-content">
        <label for="name">ユーザー名</label>
        <input type="text" placeholder="例）すずき" class="small-field" id="name">
      </div>
      <div class="new-content">
        <label for="email">ユーザーID</label>
        <input type="text" placeholder="例）suzuki123" class="small-field" id="email">
      </div>
      <div class="new-content">
        <label for="password">生年月日</label>
        <input type="text" placeholder="例）20000101" class="small-field" id="password">
      </div>
      <input type="submit" value="登録する" class="send">
    </form>
  </section>
  <section>
    <footer>
      <p class="footer-title">wanday!</p>
      <p class="footer-text">Copyright © 2021 wanday! All rights reserved.</p>
    </footer>
  </section>
</main>