<main class="mypage">
  <section>
    <header class='top-page-header'>
      <p class="header-title">wanday!</p>
    </header>
  </section>
  <section>
    <div class="mypage-contents">
      <div class="mypage-top">
        <%= image_tag "34a08c028c70f36dbfafc205d16db1ff.png" ,class: "mypage-user-icon"%>
        <div class="mypage-user-detail">
          <p class="mypage-nickname">ニックネーム</p>
          <p class="mypage-account-id">アカウントID</p>
          <p class="mypage-account-detail">
          自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文
          自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文
          自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文
          自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文
          </p>
        </div>
        <div class="mypage-user-follow">
          <button>フォローする</button>
          <p>フォロー 10</p>
          <p>フォロワー 30</p>
        </div>
      </div>
      <div class="mypage-middle">
      </div>

    </div>
  </section>
  <section>
    <footer class="top-page-header">
      <p class="footer-title">wanday!</p>
      <p class="footer-text">Copyright © 2021 wanday! All rights reserved.</p>
    </footer>
  </section>
</main>
