<main class="posts-new">
  <section>
    <header class='top-page-header'>
      <p class="header-title">wanday!</p>
    </header>
  </section>
  <section>
    <div class="posts-new-contents">
      <h1 class="form-title">投稿が完了しました</h1>
    </div>
    <div class="regist-create-button">
      <%= link_to "編集する", "#", class: "regist-top-link" %>
    </div>
    <div class="regist-create-button">
      <%= link_to "HOMEへ戻る", root_path, class: "regist-top-link" %>
    </div>
  </section>
  <section>
    <footer class="top-page-header">
      <p class="footer-title">wanday!</p>
      <p class="footer-text">Copyright © 2021 wanday! All rights reserved.</p>
    </footer>
  </section>
</main>