<main class="posts-index">
  <%= render 'shared/header' %>
  <section>
    <div class="main-left">
      <div class="post-title">
        <div class="title-icon"></div>
        <div class="title-content">
          <p class="title-content-nickname">投稿者ニックネーム</p>
          <p class="title-content-id">投稿者アカウントID</p>
        </div>
      </div>
      <div class="post-pic">ここに画像</div>
        <dl class="post-icon-lists">
          <dt><i class="far fa-comment fa-lg"></i></dt>
          <dd>コメント3件<dd>
          <dt><i class="far fa-heart fa-lg"></i></dt>
          <dd>いいね3件<dd>
        </dl>
      <div class="post-caption">
        <p>ここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプション</p>
      </div>
    </div>
    <div class="main-right">
    </div>
    <div></div>
    <div></div>
  </section>
</main>