<main class="posts-index">
  <%= render 'shared/header' %>
  <section class="index-main-contents">
    <%# 投稿一覧 %>
    <div class="main-left">
      <div class="post-title">
        <%= image_tag "profile-user.png" ,class: "title-icon"%>
        <div class="title-content">
          <p class="title-content-nickname">投稿者ニックネーム</p>
          <p class="title-content-id">投稿者アカウントID</p>
        </div>
      </div>
      <div class="post-pic">ここに画像</div>
        <dl class="post-icon-lists">
          <dt><i class="far fa-comment fa-lg"></i></dt>
          <dd>コメント3件<dd>
          <dt><i class="far fa-heart fa-lg"></i></dt>
          <dd>いいね3件<dd>
        </dl>
      <div class="post-caption">
        <p>ここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプションここに投稿画像のキャプション</p>
      </div>
    </div>

    <%# ユーザー情報 %>
    <section class="main-right">
      <%# ログインユーザープロフィール %>
      <%= image_tag "profile-user.png" ,class: "index-user-icon"%>
      <div class="index-user-show">
       <p class="user-show-nickname">ログイン中ユーザーのニックネーム</p>
       <p class="user-show-id">ログイン中ユーザーアカウントID</p>
       <p class="user-show-birthday">ログイン中ユーザー誕生日</p>
       <p class="user-show-info">自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文自己紹介文</p>
      </div>

      <%# ペットプロフィール %>
      <%= image_tag "profile-user.png" ,class: "index-pet-icon"%>
      <div class="index-pet-show">
        <p class="pet-name">ペットの名前</p>
          <dl class="pet-lists">
            <dt>誕生日</dt>
            <dd>2021年12月12日<dd>
            <dt>種類</dt>
            <dd>チワックス<dd>
            <dt>好きなもの</dt>
            <dd>お散歩<dd>
            <dt>性格</dt>
            <dd>おちゃめ<dd>
          </dl>
      </div>


    </section>
    <div></div>
    <div></div>
  </section>
</main>