<main class="posts-new">
  <%= render 'shared/header' %>
  <section>
    <div class="posts-new-contents">
      <h1 class="form-title">編集が完了しました。</h1>
      <div class="regist-create-button">
    </div>
    <div class="regist-create-button">
      <%= link_to "HOMEへ戻る", root_path, class: "regist-button" %>
    </div>
    </div>
    
  </section>
  <%= render 'shared/footer' %>
</main>