.review-new-contents {
  width: 100%;
  padding-top: 50px;
  margin-bottom: 50px;
}

.review-star-icon {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.review-star-icon > img {
  height: 15vh;
  color: #9ec3bc;
  filter: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(105%) contrast(102%);
}

.review-star-info {
  color: #aa998a;
  text-align: center;
  margin-bottom: 30px;
}
