.posts-index {
  width: 100%;
}

.index-main-contents {
  display: flex;
}

.main-left {
  min-height: 74vh;
  width: 75%;
  padding: 50px 100px 0px 100px;
}

/* 投稿title */
.post-title {
  height: 12vh;
  display: flex;
  align-items: center;
}

.title-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.title-content {
  padding-left: 20px;
}

.title-content-nickname {
  font-size: 20px;
}

.title-content-id {
  font-size: 14px;
  color: #aa998a;
}

/* 投稿画像 */
.post-pic {
  width: 100%;
  margin-bottom: 10px;
}

.follow-post {
  border-bottom: solid 1px #eadfca;
}

/* アイコン部分 */
.post-icon-lists {
  align-items: center;
  display: flex;
  height: 37px;
  justify-content: flex-end;
  padding: 0px 30px 0px 30px;
}

.post-icon-lists > dt {
  margin-left: 20px;
  color: #aa998a;
}

.post-icon-lists > dd {
  font-size: 12px;
  color: #aa998a;
}

/* 投稿キャプション */
.post-caption {
  padding: 50px;
}

.post-caption > p {
  font: 400 15px "Noto Sans JP";
  text-align: center;
}

/* ログインユーザー情報 */
.main-right {
  padding: 50px 40px 0px 40px;
  width: calc(100% - 75%);
}

.index-user-icon {
  border-radius: 50%;
  flex: none;
  height: 230px;
  width: 230px;
  max-width: 100%;
  display: block;
  margin: auto;
}

.index-user-show,
.index-pet-show {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: 20px 0 100px 0;
}

.user-show-nickname,
.pet-name {
  font-size: 17px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.user-show-id,
.user-show-birthday {
  color: #aa998a;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.user-show-birthday {
  margin-top: 10px;
}

.user-show-info {
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 20px;
  width: 100%;
  max-width: 100%;
  font-size: 13px;
  text-align: center;
}

/* ペットプロフィール */
.index-pet-icon {
  border-radius: 50%;
  flex: none;
  height: 190px;
  width: 190px;
  max-width: 100%;
  display: block;
  margin: auto;
}

.pet-lists {
  margin: 20px 0;
  text-align: center;
}

.pet-lists > dt {
  font-size: 13px;
}

.pet-lists > dd {
  font-size: 13px;
  margin-bottom: 10px;
}

/* ページネーション */
.pagination {
  text-align: center;
  margin-top: 10px;
}
