.posts-new {
  /* height: 100vh; */
  width: 100%;
}

.top-page-header {
  background-color: #eadfca;
  height: 10vh;
  width: 100%;
  max-width: 100%;
}

.header-title {
  text-align: center;
  color: white;
  font: 700 50px "Caveat", cursive;
  height: 100%;
  line-height: 70px;
  color: #aa998a;
}

.img-explanation {
  text-align: center;
  margin-bottom: 20px;
  color: #aa998a;
}

/* 画像 */
.img-field {
  height: 200px;
  margin-bottom: 50px;
  padding: 0px 100px 0px 100px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.edit-images,
.new-images {
  height: auto;
  max-width: 180px;
}

.hidden {
  display: none;
}

.form-image {
  margin: auto;
}

.fa-images {
  color: #aa998a;
}

.preview-image {
  height: auto;
  max-width: 180px;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload > p {
  margin-bottom: 15px;
}

.posts-new-contents {
  height: calc(100vh - 20vh);
  width: 100%;
  padding-top: 50px;
}

.posts-new-content {
  margin-bottom: 50px;
}

.caption-field {
  display: block;
  background: #ffffff;
  border-radius: 4px;
  border: solid 1px #aa998a;
  height: 50px;
  width: 50%;
  padding: 15px 0 0 10px;
  margin: auto;
}

.posts-new-send {
  background: #9ec3bc;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  width: 15%;
  max-width: 100%;
  margin: auto;
  display: block;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.form-title {
  color: #aa998a;
  font: 700 28px/1.4 "Noto Sans JP";
  height: auto;
  text-align: center;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}
