.show-new {
  height: 100vh;
  width: 100%;
}

.show-img {
  height: 200px;
  width: auto;
}

.fas {
  color: #aa998a;
}

.show-lists {
  width: 200px;
  /* position: absolute;
  right: 370px;
  top: 70px; */
  background-color: #ffffff;
  position: relative;
}

.show-contents {
  height: calc(100vh - 20vh);
  width: 100%;
  padding: 50px 100px 0 100px;
}

.show-img-field {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-data {
  font-size: 10px;
  color: #aa998a;
  text-align: end;
}

.show-sub-content {
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #aa998a;
  display: flex;
  justify-content: center;
  line-height: normal;
}

.show-sub-content > i {
  margin-bottom: 10px;
  margin-left: 20px;
}

.show-caption-field {
  height: 15%;
  width: 100%;
  text-align: center;
}

.show-contents > p {
  margin-top: 30px;
  text-align: center;
}

.hidden {
  display: none;
}

.pull-down-list {
  padding: 15px 20px;
  border: 1px solid #aa998a;
  color: #aa998a;
  font-weight: bold;
  position: absolute;
  left: 20px;
}

.show-lists > li {
  height: 47px;
}

#comments {
  max-height: 300px;
  overflow-y: auto;
}

.comment {
  display: flex;
  margin-bottom: 30px;
}

.user-info {
  color: #aa998a;
  margin-right: 10px;
}

.user-info:after {
  content: ":";
  display: inline-block;
  color: #aa998a;
}

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
  min-width: 500px; /* 追加 */
  padding: 30px; /* 追加 */
}
